@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MvcMovie.Models.Rating;
@{
    ViewData["Title"] = "Edit";
}
<form asp-action="Edit">
    <label asp-for="Code">
        @(Html.DisplayNameFor(model=>model.Code))
    </label>
    <input asp-for="Code" /><br/>
    <label asp-for="Name">
        @(Html.DisplayNameFor(model => model.Name))
    </label>
    <input asp-for="Name" /><br />
    <input type="submit" value="Save" />
</form>