@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewData["Title"] = "Menu MotoGP";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
</head>

<body>
    <img src="~/images/banners/banner@(ViewData["BannerNr."]).jpg" alt="Banner">

    <div class="flex" >
        <a asp-controller="Info" asp-action="ListRaces">
            <img src="~/images/banners/races.png" alt="Races">
        </a>
        <a asp-controller="Info" asp-action="ListTeams">
        <img src="~/images/banners/teams.png" alt="Teams">
         </a>
         <a asp-controller="Info" asp-action="ListRiders">
        <img src="~/images/banners/riders.png" alt="Riders">
        </a>
        <a asp-controller="Shop" asp-action="OrderTicket">
        <img src="~/images/banners/tickets.png" alt="Tickets">
        </a>
    </div>

    <a asp-controller="Shop" asp-action="ListTickets">Admin Tickets</a>
    
    

</body>

<style>
    .flex{
        display: flex;
        flex-flow: row wrap;
        width:400px
    }
</style>

</html>
